.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0px 0px 5px rgba(59, 57, 57, 0.8);
  padding: 0 10px 0 10px;
}
.header .header__logo {
  width: 180px;
}
.header .header__menu {
  font-size: 1.6rem;
  margin-right: 20px;
  cursor: pointer;
}
.header .header__menu:hover > .menu--list {
  visibility: visible;
  opacity: 1;
  transform: translateY(2px);
}
.header .header__menu .menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .header__menu .menu--profile .profile-img {
  width: 40px;
}
.header .header__menu .menu--profile .profile-text {
  margin-left: 10px;
}
.header .header__menu .menu--profile:hover.menu--list {
  visibility: visible;
  opacity: 1;
}
.header .header__menu .menu--list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  list-style: none;
  text-align: right;
  width: 100px;
  padding: 5px 10px;
  background-color: #8f57fd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(59, 57, 57, 0.8);
  transition: all 0.5s;
  transform: translateY(-20px);
}
.header .header__menu .menu--list .list__item {
  padding: 5px 0;
  border-bottom: 1px solid;
}
.header .header__menu .menu--list .list__item a {
  text-decoration: none;
  color: white;
}
.header .header__menu .menu--list .list__item:last-of-type {
  font-size: 1.3rem;
  border: 0;
}