@import './Vars.scss' ;
@import './Media.scss';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.App{
  background-color: $main-color;
  color: white;
  font-family: $theme-font ;
}

